body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  border: 6px solid #51606f;
  border-radius: 20px;
  width: 350px;
  height: 250px;
}

.container h1 {
  margin-bottom: 20px;
}

.container button {
  padding: 10px 20px;
  background-color: #51606f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #2d373f;
}
